@use "variables";
@use "colors";

nav {
  width: 100%;
  height: variables.$top-nav-height;
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
  padding: 0 2rem;
  gap: 2rem;
  background: colors.$bluish-dark;
}

.topNav__logo {
  color: white;
  font-size: 1.25rem;
}
