$primary: #5f26ff;
$primary-light: #926bff;
$primary-lightest: #c2b1f1;

$brown: #a45b19;
$green: #379774;
$green-light: #6cba76;

$dark: #212121;
$dark-transparent: rgba(0, 0, 0, 0.7);
$background: white;

$danger: #CE0000FF;
$danger-light: #ee0000;

$orange: #ec5f1e;
$orange-light: #f8783c;

$gray-lighter: #f2f2f2;
$gray-light: #e5e5e5;
$gray: #d0d0d0;
$gray-dark: #a6a6a6;
$gray-darker: #777777;
