@use 'colors';
@use 'mixins';

@import '@drizm/buttons/scss/styles';
@import 'fonts';

// --- @drizm/buttons override
:root {
  --dbtn-color-primary: colors.$primary;
  --dbtn-hover-primary: colors.$primary-light;
  --dbtn-active-primary: colors.$primary-lightest;

  --dbtn-radius-huge: 25px;
}
// ---

* {
  box-sizing: border-box;

  & [routerLink] {
    outline: none;
  }
}

// --- Links
a {
  width: min-content;
  cursor: pointer;
  outline: none;
  border: none;
  color: colors.$white;
  font-weight: 500;
  transition: color .2s;

  &:hover {
    color: colors.$primary-lightest;
  }
}
// ---

html, body {
  font-size: 20px;
  color: colors.$dark;

  @include mixins.responsive("sm") {
    font-size: 24px;
  }

  @include mixins.responsive("md") {
    font-size: 28px;
  }

  @include mixins.responsive("lg") {
    font-size: 15px;
  }

  @include mixins.responsive("xl") {
    font-size: 18px;
  }

  @include mixins.responsive("xxl") {
    font-size: 18px;
  }

  @include mixins.responsive("xxxl") {
    font-size: 18px;
  }
}

input, textarea {
  color: colors.$dark;
}

body {
  margin: 0;
  padding: 0;
  font-family: Ubuntu, sans-serif;
  background: colors.$background;
}

dzm-button {
  width: min-content;
}

//better scrollbar
::-webkit-scrollbar {
  width: .4vw;
  height: .4vw;
  min-width: 6px;
  min-height: 6px;
  background-color: rgba(0, 0, 0, 0);

  &-thumb {
    border-radius: 25px;
    background: colors.$primary;

    &:hover {
      background: colors.$primary-light;
    }

    &:active {
      background: colors.$primary-lightest;
    }
  }
}

button {
  font-family: Montserrat, sans-serif;
}
